[Desktop Entry]
Version=1.1
Type=Application
Name=Ncmpcpp
GenericName=TUI mpd client
Comment=Mopidy + ncmpcpp music player
Icon=music_icon-24
Exec=/home/ricing/.config/ncmpcpp/launch-ncmpcpp-mopidy.sh
Actions=NewShortcut1;NewShortcut2;NewShortcut;
Categories=AudioVideo;
Keywords=music;musicplayer;mpd;mpd-client;mpd client;mopidy client;
StartupWMClass=ncmpcpp

[Desktop Action NewShortcut1]
Name=Start with "light" version
Exec=/home/ricing/.config/ncmpcpp/launch-ncmpcpp-mopidy-light.sh

[Desktop Action NewShortcut2]
Name=Start ncmpcpp only
Exec=alacritty --class Ncmpcpp,Ncmpcpp -e ncmpcpp

[Desktop Action NewShortcut]
Name=Start mopidy only
Exec=mopidy &
